
<body class="aa-price-range">

    <!-- Start slider  -->
    <section id="aa-slider">
        <div class="aa-slider-area">
            <!-- Top slider -->
            <div class="aa-top-slider">
                <!-- Top slider single slide -->
                <div class="aa-top-slider-single">
                    <img src="../Design/img/slider/3.jpg" alt="img">
                    <!-- Top slider content -->
                    <div class="aa-top-slider-content">
                        <span class="aa-top-slider-catg">Flat</span>
                        <h2 class="aa-top-slider-title">150 Square Feet</h2>
                        <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Mohakhali, Dhaka</p>
                        <span class="aa-top-slider-off">30% OFF</span>
                        <p class="aa-top-slider-price">32,000 Taka</p>
                        <a href="#" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
                    </div>
                    <!-- / Top slider content -->
                </div>
                <!-- / Top slider single slide -->
                <!-- Top slider single slide -->
                <div class="aa-top-slider-single">
                    <img src="../Design/img/slider/2.jpg" alt="img">
                    <!-- Top slider content -->
                    <div class="aa-top-slider-content">
                        <span class="aa-top-slider-catg">Double Room</span>
                        <h2 class="aa-top-slider-title">60 Square Feet</h2>
                        <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Niketon, Mohakhali</p>
                        <span class="aa-top-slider-off">5% OFF</span>
                        <p class="aa-top-slider-price">13,000 Taka</p>
                        <a href="#" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
                    </div>
                    <!-- / Top slider content -->
                </div>
                <!-- / Top slider single slide -->
                <!-- Top slider single slide -->
                <div class="aa-top-slider-single">
                    <img src="../Design/img/slider/1.jpg" alt="img">
                    <!-- Top slider content -->
                    <div class="aa-top-slider-content">
                        <span class="aa-top-slider-catg">Single Room</span>
                        <h2 class="aa-top-slider-title">30 Square Feet</h2>
                        <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Dhanmonddi 1 no road, Dhaka</p>
                        <span class="aa-top-slider-off">10% OFF</span>
                        <p class="aa-top-slider-price">4,000 Taka</p>
                        <a href="#" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
                    </div>
                    <!-- / Top slider content -->
                </div>
                <!-- / Top slider single slide -->
                <!-- Top slider single slide -->
                <div class="aa-top-slider-single">
                    <img src="../Design/img/slider/5.jpg" alt="img">
                    <!-- Top slider content -->
                    <div class="aa-top-slider-content">
                        <span class="aa-top-slider-catg">Single Room</span>
                        <h2 class="aa-top-slider-title">30 Square Feet</h2>
                        <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Dhanmonddi 1 no road, Dhaka</p>
                        <span class="aa-top-slider-off">10% OFF</span>
                        <p class="aa-top-slider-price">4,000 Taka</p>
                        <a href="#" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
                    </div>
                    <!-- / Top slider content -->
                </div>
                <!-- / Top slider single slide -->
                <!-- Top slider single slide -->
                <div class="aa-top-slider-single">
                    <img src="../Design/img/slider/4.jpg" alt="img">
                    <!-- Top slider content -->
                    <div class="aa-top-slider-content">
                        <span class="aa-top-slider-catg">Double Room</span>
                        <h2 class="aa-top-slider-title">60 Square Feet</h2>
                        <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Niketon, Mohakhali</p>
                        <span class="aa-top-slider-off">5% OFF</span>
                        <p class="aa-top-slider-price">13,000 Taka</p>
                        <a href="#" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
                    </div>
                    <!-- / Top slider content -->
                </div>
                <!-- / Top slider single slide -->
                <!-- Top slider single slide -->
                <div class="aa-top-slider-single">
                    <img src="../Design/img/slider/6.jpg" alt="img">
                    <!-- Top slider content -->
                    <div class="aa-top-slider-content">
                        <span class="aa-top-slider-catg">Duplex</span>
                        <h2 class="aa-top-slider-title">1560 Square Feet</h2>
                        <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Gulshan 1 no, Dhaka</p>
                        <span class="aa-top-slider-off">15% OFF</span>
                        <p class="aa-top-slider-price">80,000 Taka</p>
                        <a href="#" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
                    </div>
                    <!-- / Top slider content -->
                </div>
                <!-- / Top slider single slide -->
            </div>
        </div>
    </section>
    <!-- End slider  -->
    <!-- Advance Search -->
    <form action="/Home/BeforeLogin">
        <section id="aa-advance-search">
            <div class="container">
                <div class="aa-advance-search-area">
                    <div class="form">
                        <div class="aa-advance-search-top">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="aa-single-advance-search">
                                        <input type="text" placeholder="Type Your Location" name="search">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="aa-single-advance-search">
                                        <select>
                                            <option value="0" selected>Category</option>
                                            <option value="1">Flat</option>
                                            <option value="2">Land</option>
                                            <option value="3">Plot</option>
                                            <option value="4">Commercial</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="aa-single-advance-search">
                                        <select>
                                            <option value="0" selected>Property Type</option>
                                            <option value="1">Flat</option>
                                            <option value="2">Double Room</option>
                                            <option value="3">Single Room</option>
                                            <option value="4">Duplex</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="aa-single-advance-search">
                                        <input class="aa-search-btn" type="submit" value="Search" name="Submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="aa-advance-search-bottom">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="aa-single-filter-search">
                                        <span>AREA (SQ)</span>
                                        <span>FROM</span>
                                        <span id="skip-value-lower" class="example-val">500</span>
                                        <span>TO</span>
                                        <span id="skip-value-upper" class="example-val">2,000</span>
                                        <div id="aa-sqrfeet-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="aa-single-filter-search">
                                        <span>PRICE (BDT)</span>
                                        <span>FROM</span>
                                        <span id="skip-value-lower2" class="example-val">5,000</span>
                                        <span>TO</span>
                                        <span id="skip-value-upper2" class="example-val">1,00,000</span>
                                        <div id="aa-price-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </form>
        <!-- / Advance Search -->
        <!-- About us -->
        <section id="aa-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-about-us-area">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="aa-about-us-left">
                                        <img src="../Design/img/about-us.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="aa-about-us-right">
                                        <div class="aa-title">
                                            <h2>About Us</h2>
                                            <span></span>
                                        </div>
                                        <p>BachelorNeer is used by millions of renters to find houses, rooms, condos, or apartments for rent.</p>
                                        <ul>
                                            <li>One of the most exciting and fun things to do in any home is to match your house. </li>
                                            <li>When you're looking for a new house, you'll want to find a location that's near your family, friends, and work.</li>
                                            <li>The process of making a payment is not that difficult. Online payment method is the best way.</li>
                                            <li>Add House is a unique and innovative platform that helps you find the best home for you and your family.</li>
                                            <li>Many people live in houses that are not very energy efficient and they often end up paying more for their energy bills than they would like.</li>
                                            <li>Thats why this site reduce mans working hour and tress.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / About us -->
        <!-- Latest property -->
        <section id="aa-latest-property">
            <div class="container">
                <div class="aa-latest-property-area">
                    <div class="aa-title">
                        <h2>Latest Properties</h2>
                        <span></span>
                        <p>This is a list of the most popular and latest house categories that people are searching for in the Dhaka, Bangladesh.</p>
                    </div>
                    <div class="aa-latest-properties-content">
                        <div class="row">
                            <div class="col-md-4">
                                <article class="aa-properties-item">
                                    <a href="#" class="aa-properties-item-img">
                                        <img src="~/Design/img/item/1.jpg" alt="img">
                                    </a>
                                    <div class="aa-tag for-sale">
                                        For Rent
                                    </div>
                                    <div class="aa-properties-item-content">
                                        <div class="aa-properties-info">
                                            <span>5 Rooms</span>
                                            <span>3 Beds</span>
                                            <span>3 Baths</span>
                                            <span>1300 SQ FT</span>
                                        </div>
                                        <div class="aa-properties-about">
                                            <h3><a href="#">Block J, Bashundhara R-A</a></h3>
                                            <p>

                                                A large and airy living space is sited in that flat having ample space to place your enjoyable family times. The flat also assures the best quality washroom fittings for guaranteeing healthy hygiene.
                                                Feel free to contact us to know more about this apartment.
                                            </p>
                                        </div>
                                        <div class="aa-properties-detial">
                                            <span class="aa-price">
                                                BDT 22 Thousand
                                            </span>
                                            <a href="#" class="aa-secondary-btn">View Details</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="aa-properties-item">
                                    <a href="#" class="aa-properties-item-img">
                                        <img src="~/Design/img/item/2.jpg" alt="img">
                                    </a>
                                    <div class="aa-tag for-rent">
                                        For Rent
                                    </div>
                                    <div class="aa-properties-item-content">
                                        <div class="aa-properties-info">
                                            <span>5 Rooms</span>
                                            <span>2 Beds</span>
                                            <span>2 Baths</span>
                                            <span>950 SQ FT</span>
                                        </div>
                                        <div class="aa-properties-about">
                                            <h3><a href="#">Sector-5, Uttara</a></h3>
                                            <p>

                                                A large and airy living space is sited in that flat having ample space to place your enjoyable family times. The flat also assures the best quality washroom fittings for guaranteeing healthy hygiene.
                                                Feel free to contact us to know more about this apartment
                                            </p>
                                        </div>
                                        <div class="aa-properties-detial">
                                            <span class="aa-price">
                                                BDT 40,000
                                            </span>
                                            <a href="#" class="aa-secondary-btn">View Details</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="aa-properties-item">
                                    <a href="#" class="aa-properties-item-img">
                                        <img src="~/Design/img/item/3.jpg" alt="img">
                                    </a>
                                    <div class="aa-tag sold-out">
                                        Sold Out
                                    </div>
                                    <div class="aa-properties-item-content">
                                        <div class="aa-properties-info">
                                            <span>3 Rooms</span>
                                            <span>3 Beds</span>
                                            <span>3 Baths</span>
                                            <span>1500 SQ FT</span>
                                        </div>
                                        <div class="aa-properties-about">
                                            <h3><a href="#">Sector-3, Uttara</a></h3>
                                            <p>

                                                A large and airy living space is sited in that flat having ample space to place your enjoyable family times. The flat also assures the best quality washroom fittings for guaranteeing healthy hygiene.
                                                Feel free to contact us to know more about this apartment
                                            </p>
                                        </div>
                                        <div class="aa-properties-detial">
                                            <span class="aa-price">
                                                BDT 30,000
                                            </span>
                                            <a href="#" class="aa-secondary-btn">View Details</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="aa-properties-item">
                                    <a href="#" class="aa-properties-item-img">
                                        <img src="~/Design/img/item/4.jpg" alt="img">
                                    </a>
                                    <div class="aa-tag for-sale">
                                        For Rent
                                    </div>
                                    <div class="aa-properties-item-content">
                                        <div class="aa-properties-info">
                                            <span>3 Rooms</span>
                                            <span>3 Beds</span>
                                            <span>3 Baths</span>
                                            <span>1250 SQ FT</span>
                                        </div>
                                        <div class="aa-properties-about">
                                            <h3><a href="#">Road No 9a, Dhanmondi</a></h3>
                                            <p>

                                                A large and airy living space is sited in that flat having ample space to place your enjoyable family times. The flat also assures the best quality washroom fittings for guaranteeing healthy hygiene.
                                                Feel free to contact us to know more about this apartment
                                            </p>
                                        </div>
                                        <div class="aa-properties-detial">
                                            <span class="aa-price">
                                                BDT 35,000
                                            </span>
                                            <a href="#" class="aa-secondary-btn">View Details</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="aa-properties-item">
                                    <a href="#" class="aa-properties-item-img">
                                        <img src="~/Design/img/item/5.jpg" alt="img">
                                    </a>
                                    <div class="aa-tag sold-out">
                                        Sold Out
                                    </div>
                                    <div class="aa-properties-item-content">
                                        <div class="aa-properties-info">
                                            <span>3 Rooms</span>
                                            <span>2 Beds</span>
                                            <span>2 Baths</span>
                                            <span>1000 SQ FT</span>
                                        </div>
                                        <div class="aa-properties-about">
                                            <h3><a href="#">Niketon Bazar gate, Gulshan</a></h3>
                                            <p>

                                                A large and airy living space is sited in that flat having ample space to place your enjoyable family times. The flat also assures the best quality washroom fittings for guaranteeing healthy hygiene.
                                                Feel free to contact us to know more about this apartment
                                            </p>
                                        </div>
                                        <div class="aa-properties-detial">
                                            <span class="aa-price">
                                                BDT 25,000
                                            </span>
                                            <a href="#" class="aa-secondary-btn">View Details</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <article class="aa-properties-item">
                                    <a href="#" class="aa-properties-item-img">
                                        <img src="~/Design/img/item/6s.jpg" alt="img">
                                    </a>
                                    <div class="aa-tag for-rent">
                                        For Rent
                                    </div>
                                    <div class="aa-properties-item-content">
                                        <div class="aa-properties-info">
                                            <span>6 Rooms</span>
                                            <span>3 Beds</span>
                                            <span>3 Baths</span>
                                            <span>1700 SQ FT</span>
                                        </div>
                                        <div class="aa-properties-about">
                                            <h3><a href="#">Mohakhali kacha bazar</a></h3>
                                            <p>

                                                A large and airy living space is sited in that flat having ample space to place your enjoyable family times. The flat also assures the best quality washroom fittings for guaranteeing healthy hygiene.
                                                Feel free to contact us to know more about this apartment.
                                            </p>
                                        </div>
                                        <div class="aa-properties-detial">
                                            <span class="aa-price">
                                                BDT 35,000
                                            </span>
                                            <a href="#" class="aa-secondary-btn">View Details</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / Latest property -->
        <!-- Service section -->
        <section id="aa-service">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-service-area">
                            <div class="aa-title">
                                <h2>Our Service</h2>
                                <span></span>
                                <p>Basically we can provide different types of service. All servises are usefull for a person.</p>
                            </div>
                            <!-- service content -->
                            <div class="aa-service-content">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-home"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4><a href="#">Property Sale</a></h4>
                                                <p>Finding the best property for you and your family is probably the most important decision you make. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-check"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4><a href="#">Property Rent</a></h4>
                                                <p>We work hard to provide you with the best possible experience and value for your money.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-crosshairs"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4><a href="#">Secure Payment</a></h4>
                                                <p>Secure Payment is one of the most widely used payment solution in the market today. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="aa-single-service">
                                            <div class="aa-service-icon">
                                                <span class="fa fa-bar-chart-o"></span>
                                            </div>
                                            <div class="aa-single-service-content">
                                                <h4><a href="#">Guide</a></h4>
                                                <p>Looking for a new home? The property guide will help you find your dream house.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / Service section -->
        <!-- Promo Banner Section -->
        <section id="aa-promo-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-promo-banner-area">
                            <h3>Find Your Best Property</h3>
                            <p>When you’re looking for a new home, you may want to look at your options.So when you’re deciding where to look for a home, you need to consider what you value most.</p>
                            <a onclick="location.href='@Url.Action("GalleryIndex","Gallery")'" class="aa-view-btn">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / Promo Banner Section -->
        <!-- Client Testimonial -->
        <section id="aa-client-testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-client-testimonial-area">
                            <div class="aa-title">
                                <h2>What Client Say</h2>
                                <span></span>
                                <p> Happy clients are good clients, and a happy customer is good for business.</p>
                            </div>
                            <!-- testimonial content -->
                            <div class="aa-testimonial-content">
                                <!-- testimonial slider -->
                                <ul class="aa-testimonial-slider">
                                    <li>
                                        <div class="aa-testimonial-single">
                                            <div class="aa-testimonial-img">
                                                <img src="../Design/img/testimonial-1.jpg" alt="testimonial img">
                                            </div>
                                            <div class="aa-testimonial-info">
                                                <p>It is very good site to find the flat without any kinds of hasssel</p>
                                            </div>
                                            <div class="aa-testimonial-bio">
                                                <p>Saleh Ahmed Shafin</p>
                                                <span>Student</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="aa-testimonial-single">
                                            <div class="aa-testimonial-img">
                                                <img src="../Design/img/testimonial-3.jpg" alt="testimonial img">
                                            </div>
                                            <div class="aa-testimonial-info">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum nesciunt fuga ab natus, dolorem?</p>
                                            </div>
                                            <div class="aa-testimonial-bio">
                                                <p>Shahid Hasan</p>
                                                <span>Student</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="aa-testimonial-single">
                                            <div class="aa-testimonial-img">
                                                <img src="../Design/img/testimonial-2.jpg" alt="testimonial img">
                                            </div>
                                            <div class="aa-testimonial-info">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum nesciunt fuga ab natus, dolorem?</p>
                                            </div>
                                            <div class="aa-testimonial-bio">
                                                <p>Nirjoy Debnath</p>
                                                <span>Student</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Client Testimonial -->
        <!-- Client brand -->
        <section id="aa-client-brand">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-client-brand-area">
                            <ul class="aa-client-brand-slider">
                                <li>
                                    <div class="aa-client-single-brand">
                                        <img src="../Design/img/client-brand-1.jpg" alt="brand image">
                                    </div>
                                </li>
                                <li>
                                    <div class="aa-client-single-brand">
                                        <img src="../Design/img/client-brand-2.jpg" alt="brand image">
                                    </div>
                                </li>
                                <li>
                                    <div class="aa-client-single-brand">
                                        <img src="../Design/img/client-brand-3.jpg" alt="brand image">
                                    </div>
                                </li>
                                <li>
                                    <div class="aa-client-single-brand">
                                        <img src="../Design/img/client-brand-5.jpg" alt="brand image">
                                    </div>
                                </li>
                                <li>
                                    <div class="aa-client-single-brand">
                                        <img src="../Design/img/client-brand-4.jpg" alt="brand image">
                                    </div>
                                </li>
                                <li>
                                    <div class="aa-client-single-brand">
                                        <img src="../Design/img/client-brand-1.jpg" alt="brand image">
                                    </div>
                                </li>
                                <li>
                                    <div class="aa-client-single-brand">
                                        <img src="../Design/img/client-brand-2.jpg" alt="brand image">
                                    </div>
                                </li>
                                <li>
                                    <div class="aa-client-single-brand">
                                        <img src="../Design/img/client-brand-3.jpg" alt="brand image">
                                    </div>
                                </li>
                                <li>
                                    <div class="aa-client-single-brand">
                                        <img src="../Design/img/client-brand-5.jpg" alt="brand image">
                                    </div>
                                </li>
                                <li>
                                    <div class="aa-client-single-brand">
                                        <img src="../Design/img/client-brand-4.jpg" alt="brand image">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- / Client brand -->
        <!-- Latest blog -->
        <section id="aa-latest-blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-latest-blog-area">
                            <div class="aa-title">
                                <h2>Latest News</h2>
                                <span></span>
                                <p>Find Bangladesh properties for sale and for rent on Bachelor Neer, leading Bangladesh real estate portal.</p>
                            </div>
                            <div class="aa-latest-blog-content">
                                <div class="row">
                                    <!-- start single blog -->
                                    <div class="col-md-4">
                                        <article class="aa-blog-single">
                                            <figure class="aa-blog-img">
                                                <a href="#"><img src="../Design/img/blog-img-1.jpg" alt="img"></a>
                                                <span class="aa-date-tag">15 April, 22</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h3><a href="#">HOW THE BPROPERTY INTERIOR TEAM HELPS ITS CLIENTS WITH INTERIOR SOLUTION</a></h3>
                                                <p>Planning to rent a property? In addition to managing the investment for the transaction, you may also want to invest some of your thoughts and ideas into the interior as well. But most times, when it comes to planning and designing the interior, people tend to take that into their own hands and do it their way.</p>
                                                <div class="aa-blog-single-bottom">
                                                    <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                                                    <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                            </div>

                                        </article>
                                    </div>
                                    <!-- start single blog -->
                                    <div class="col-md-4">
                                        <article class="aa-blog-single">
                                            <figure class="aa-blog-img">
                                                <a href="#"><img src="../Design/img/blog-img-2.jpg" alt="img"></a>
                                                <span class="aa-date-tag">15 June, 21</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h3><a href="#">5 THINGS TO CONSIDER BEFORE DESIGNING A NARROW LIVING SPACE</a></h3>
                                                <p>While designing an apartment, you have to consider quite a few things. For instance, if you choose an interior design style for your living room that does not match with the interior of the rest of your house then it can cause issues. This is where a professional interior designer can guide you to make the right choices.</p>
                                                <div class="aa-blog-single-bottom">
                                                    <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                                                    <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- start single blog -->
                                    <div class="col-md-4">
                                        <article class="aa-blog-single">
                                            <figure class="aa-blog-img">
                                                <a href="#"><img src="../Design/img/blog-img-3.jpg" alt="img"></a>
                                                <span class="aa-date-tag">15 April, 16</span>
                                            </figure>
                                            <div class="aa-blog-single-content">
                                                <h3><a href="#">DIFFERENT TYPES OF FAUCETS</a></h3>
                                                <p>Choosing the right faucet type for the bathroom or kitchen sink is more difficult than you might think. It is critical to select a faucet that both saves water and complements your style.There are many different types of faucets and finishes to choose from, and because you’ll be using it for a long time. </p>
                                                <div class="aa-blog-single-bottom">
                                                    <a href="#" class="aa-blog-author"><i class="fa fa-user"></i> Admin</a>
                                                    <a href="#" class="aa-blog-comments"><i class="fa fa-comment-o"></i>6</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</body>
